Repository notelho/patofinder: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint -c tslint.json 'src/**/*.ts', npx eslint ./*.js

refactor: starting to split arguments model
  src/bin/patofinder.ts
  src/models/arguments.ts
  src/utils/cli/cli-actions.ts
  src/utils/cli/cli-arguments.ts
  src/utils/cli/cli-errors.ts
  src/utils/cli/cli-options.ts
  src/utils/cli/cli-package.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: finish cli args
  src/bin/patofinder.ts
  src/models/arguments.ts
  src/models/logger.ts
  src/utils/cli/cli-actions.ts
  src/utils/cli/cli-arguments.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: finish extensions search integration
  src/utils/extensions/any-extensions.ts
  src/utils/searches/audio-search.ts
  src/utils/searches/css-search.ts
  src/utils/searches/font-search.ts
  src/utils/searches/img-search.ts
  src/utils/searches/javascript-search.ts
  src/utils/searches/php-search.ts
  src/utils/searches/stream-search.ts
  src/utils/searches/url-search.ts
  src/utils/searches/video-search.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

refactor: finish models imports refactoring
  src/bin/patofinder.ts
  src/index.ts
  src/logs/.gitkeep
  src/models/level-filter.ts
  src/models/level-searcher.ts
  src/models/level-sorter.ts
  src/models/level-storage.ts
  src/models/logger.ts
  src/models/path-scanner.ts
  src/tests/.gitkeep
Due: npx tslint -c tslint.json 'src/**/*.ts'

refactor: finishing cli logic and refactoring
  src/utils/cli/cli-actions.ts
  src/utils/cli/cli-arguments.ts
  src/utils/cli/cli-errors.ts
  src/utils/cli/cli-examples.ts
  src/utils/cli/cli-help.ts
  src/utils/cli/cli-info.ts
  src/utils/cli/cli-install.ts
  src/utils/cli/cli-logo.ts
  src/utils/cli/cli-package.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

docs: add cli tasks
  docs/CONTRIBUTING.md
  docs/EXAMPLES.md
  docs/LINKS.md
  docs/README.md
  docs/TODO.md
Due: none

feat: add install and logger
  package.json
  src/models/level-filter.ts
  src/models/logger.ts
  src/public/install.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

docs: add todo docs tasks
  docs/TODO.md
Due: none

feat: finish cli without examples
  src/utils/cli/cli-actions.ts
  src/utils/cli/cli-errors.ts
  src/utils/cli/cli-info.ts
  src/utils/cli/cli-install.ts
  src/utils/cli/cli-logo.ts
  src/utils/cli/cli-options.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: add cli loader
  src/models/loader.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: add logger format method
  src/models/level-filter.ts
  src/models/level-ignorer.ts
  src/models/logger.ts
  src/models/path-analyzer.ts
  src/models/path-scanner.ts
  src/tests/stream.spec.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: add test files
  src/tests/audio.spec.ts
  src/tests/css.spec.ts
  src/tests/font.spec.ts
  src/tests/img.spec.ts
  src/tests/javascript.spec.ts
  src/tests/php.spec.ts
  src/tests/url.spec.ts
  src/tests/video.spec.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

docs: complete some docs tasks
  CHANGELOG
  README.md
  docs/EXAMPLES.md
  docs/LINKS.md
  docs/TODO.md
  docs/cli-examples.md
  docs/lib-examples.md
Due: none

feat: importing package data from cli-package
  docs/TODO.md
  src/utils/cli/cli-package.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

docs: create cli examples
  docs/cli-examples.md
Due: none

docs: add types in cli example
  docs/cli-examples.md
Due: none

refactor: change docs folder structure
  docs/example-cli.md
  docs/example-lib.md
  docs/example-types.md
  docs/lib-examples.md
Due: none

docs: finish cli examples
  docs/example-cli.md
Due: none

docs: create example types
  docs/TODO.md
  docs/example-type.md
  docs/example-types.md
Due: none

docs: create readme
  README.md
Due: none

chore: remove unnecessary types
  package-lock.json
  package.json
Due: none

docs: create license
  LICENSE
Due: none

docs: update readme license link
  README.md
Due: none

docs: add basic types
  README.md
  docs/example-type.md
Due: none

feat: create examples structure
  src/utils/cli/cli-examples.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: finish cli examples
  docs/example-cli.md
  src/utils/cli/cli-examples.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: setup jest tests
  package-lock.json
  package.json
  src/tests/cli.spec.ts
  src/tests/css.spec.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

docs: add all types to example-types
  docs/example-type.md
Due: none

chore: update changelog and cli tasks
  CHANGELOG
  README.md
  docs/example-type.md
Due: none

chore: finish logger update method
  README.md
  src/bin/patofinder.ts
  src/models/logger.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

docs: finish lib basic examples
  CHANGELOG
  README.md
  docs/example-cli.md
  docs/example-lib.md
Due: none

style: changing public interface name
  package.json
  src/bin/patofinder.ts
  src/index.ts
  src/interfaces/search-config.ts
  src/interfaces/search-type.ts
  src/interfaces/type-search.ts
  src/models/dictionary.ts
  src/models/patofinder.ts
  src/public/find.ts
  src/public/install.ts
  src/public/interfaces.ts
  src/tests/css.spec.ts
  src/utils/cli/cli-errors.ts
  src/utils/functions/post-install.ts
  src/utils/regexp/search-type.ts
  src/utils/regexp/type-search.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

test: starting css tests
  package.json
  src/index.ts
  src/public/regexp.ts
  src/tests/css.spec.ts
  src/utils/regexp/absolute-path.ts
  src/utils/regexp/end-bar.ts
  src/utils/regexp/relative-path.ts
  src/utils/regexp/type-search.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

test: testing jest imports
  jest.config.js
  package-lock.json
  package.json
  src/tests/audio.spec.ts
  src/tests/cli.spec.ts
  src/tests/css.spec.ts
  src/tests/font.spec.ts
  src/tests/img.spec.ts
  src/tests/javascript.spec.ts
  src/tests/php.spec.ts
  src/tests/stream.spec.ts
  src/tests/url.spec.ts
  src/tests/video.spec.ts
Due: npx tslint -c tslint.json 'src/**/*.ts', npx eslint ./*.js

test: find url search bug
  src/index.ts
  src/models/path-analyzer.ts
  src/utils/extensions/xml-extensions.ts
  src/utils/searches/img-search.ts
  src/utils/searches/url-search.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: create equals rule
  src/interfaces/config-filter.ts
  src/interfaces/config-rule.ts
  src/interfaces/search-config.ts
  src/utils/searches/audio-search.ts
  src/utils/searches/css-search.ts
  src/utils/searches/font-search.ts
  src/utils/searches/img-search.ts
  src/utils/searches/javascript-search.ts
  src/utils/searches/php-search.ts
  src/utils/searches/stream-search.ts
  src/utils/searches/url-search.ts
  src/utils/searches/video-search.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: rename filters rules folder
  src/utils/filters/any-filter.ts
  src/utils/rules/empty-rule.ts
  src/utils/rules/ending-rule.ts
  src/utils/rules/exclude-rule.ts
  src/utils/rules/includes-rule.ts
  src/utils/rules/same-path-rule.ts
  src/utils/rules/stream-rule.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: finish equals rule
  src/index.ts
  src/models/dictionary.ts
  src/models/level-filter.ts
  src/models/path-analyzer.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

chore: downgrade version
  CHANGELOG
  package.json
Due: none

feat: add rule data object
  src/interfaces/config-rule.ts
  src/interfaces/rule-data.ts
  src/interfaces/search-config.ts
  src/utils/rules/empty-rule.ts
  src/utils/rules/ending-rule.ts
  src/utils/rules/includes-rule.ts
  src/utils/rules/not-same-rule.ts
  src/utils/rules/same-path-rule.ts
  src/utils/rules/stream-rule.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

Path conditions:
  npx tslint -c tslint.json 'src/**/*.ts': any of: *.ts
  npx eslint ./*.js: any of: *.js
