Repository notelho/patofinder: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint -c tslint.json 'src/**/*.ts', npx eslint ./*.js

refactor: update dictionary to implements search-data
  src/utils/dictionary/audio.ts
  src/utils/dictionary/css.ts
  src/utils/dictionary/font.ts
  src/utils/dictionary/img.ts
  src/utils/dictionary/javascript.ts
  src/utils/dictionary/php.ts
  src/utils/dictionary/stream.ts
  src/utils/dictionary/url.ts
  src/utils/dictionary/video.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

docs: remove url-miner tasks
  docs/TODO.md
Due: none

feat: create new includes rule
  src/utils/rules/includes-rule.ts
  src/utils/rules/stream-rule.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: update analyzer search logic
  src/index.ts
  src/models/dictionary.ts
  src/models/level-filter.ts
  src/models/path-analyzer.ts
  src/models/path-scanner.ts
  src/models/patofinder.ts
  src/models/url-analyzer.ts
  src/models/url-filter.ts
  src/public/find.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: add depth interface and dictionary implementation
  docs/TODO.md
  src/index.ts
  src/interfaces/search-data.ts
  src/interfaces/search-depth.ts
  src/models/dictionary.ts
  src/models/path-analyzer.ts
  src/utils/dictionary/audio.ts
  src/utils/dictionary/css.ts
  src/utils/dictionary/font.ts
  src/utils/dictionary/img.ts
  src/utils/dictionary/javascript.ts
  src/utils/dictionary/php.ts
  src/utils/dictionary/stream.ts
  src/utils/dictionary/url.ts
  src/utils/dictionary/video.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

style: changing depth for first/all
  src/interfaces/search-depth.ts
  src/utils/dictionary/stream.ts
  src/utils/fragments/common-codes.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

fix: finish depth first/all search
  docs/LINKS.md
  docs/TODO.md
  src/models/level-filter.ts
  src/models/path-analyzer.ts
  src/models/patofinder.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: add new regexp rule
  src/index.ts
  src/models/patofinder.ts
  src/utils/dictionary/audio.ts
  src/utils/dictionary/css.ts
  src/utils/dictionary/img.ts
  src/utils/dictionary/video.ts
  src/utils/rules/regexp-rule.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

style: updating regexp rule to ending rule
  src/utils/dictionary/audio.ts
  src/utils/dictionary/css.ts
  src/utils/dictionary/img.ts
  src/utils/dictionary/video.ts
  src/utils/rules/ending-rule.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: add new ratify rule
  src/utils/dictionary/url.ts
  src/utils/rules/ratify-rule.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: add new words for fragments
  docs/TODO.md
  src/index.ts
  src/logs/.gitkeep
  src/logs/logs1.txt
  src/logs/logs2.txt
  src/logs/logs3.txt
  src/models/path-analyzer.ts
  src/models/patofinder.ts
  src/utils/fragments/common-codes.ts
  src/utils/fragments/common-domains.ts
  src/utils/fragments/common-names.ts
  src/utils/fragments/common-words.ts
  src/utils/preferences/stream-preferences.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: transforming limit into a search property
  docs/CHANGELOG.md
  docs/TODO.md
  package.json
  src/interfaces/search-data.ts
  src/models/dictionary.ts
  src/models/level-filter.ts
  src/models/level-searcher.ts
  src/models/path-analyzer.ts
  src/models/path-scanner.ts
  src/models/patofinder.ts
  src/utils/dictionary/audio.ts
  src/utils/dictionary/css.ts
  src/utils/dictionary/font.ts
  src/utils/dictionary/img.ts
  src/utils/dictionary/javascript.ts
  src/utils/dictionary/php.ts
  src/utils/dictionary/stream.ts
  src/utils/dictionary/url.ts
  src/utils/dictionary/video.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: starting change priorities in sequence
  docs/TODO.md
  src/interfaces/filter-preferences.ts
  src/models/level-sorter.ts
  src/utils/preferences/empty-preferences.ts
  src/utils/preferences/stream-preferences.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: finish sort by key level
  docs/TODO.md
  src/index.ts
  src/models/level-sorter.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

improvement: changing streaming match keys
  src/interfaces/filter-preferences.ts
  src/utils/fragments/streaming-keywords.ts
  src/utils/fragments/streaming-search.ts
  src/utils/preferences/empty-preferences.ts
  src/utils/preferences/stream-preferences.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

fix: fix old search property
  src/models/level-sorter.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

refactor: improve models dependencies
  src/models/dictionary.ts
  src/models/level-filter.ts
  src/models/level-ignorer.ts
  src/models/level-searcher.ts
  src/models/level-sorter.ts
  src/models/path-analyzer.ts
  src/models/path-scanner.ts
  src/models/path-storage.ts
  src/models/patofinder.ts
  src/public/find.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

refactor: renaming path storage
  src/models/level-storage.ts
  src/models/path-analyzer.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

refactor: general code refactoring
  src/index.ts
  src/models/level-storage.ts
  src/models/path-analyzer.ts
  src/models/patofinder.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

refactor: changing dictionary interfaces
  docs/TODO.md
  src/interfaces/config-filter.ts
  src/interfaces/config-ignore.ts
  src/interfaces/config-sort.ts
  src/interfaces/filter-preferences.ts
  src/interfaces/filter-rule.ts
  src/interfaces/search-config.ts
  src/interfaces/search-data.ts
  src/models/path-analyzer.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

refactor: new utils preferences implementation
  docs/TODO.md
  src/interfaces/config-sort.ts
  src/interfaces/search-config.ts
  src/models/dictionary.ts
  src/models/path-analyzer.ts
  src/utils/dictionary/css.ts
  src/utils/dictionary/font.ts
  src/utils/dictionary/img.ts
  src/utils/dictionary/javascript.ts
  src/utils/dictionary/php.ts
  src/utils/dictionary/url.ts
  src/utils/dictionary/video.ts
  src/utils/extensions/.gitkeep
  src/utils/filters/any-filter.ts
  src/utils/filters/ending-filter.ts
  src/utils/filters/includes-filter.ts
  src/utils/filters/stream-filter.ts
  src/utils/functions/resolve-all-end-bars.ts
  src/utils/functions/resolve-end-bar.ts
  src/utils/functions/resolve-path.ts
  src/utils/ignores/empty-ignore.ts
  src/utils/ignores/stream-ignore.ts
  src/utils/preferences/empty-preferences.ts
  src/utils/preferences/stream-preferences.ts
  src/utils/searches/audio-search.ts
  src/utils/searches/css-search.ts
  src/utils/searches/font-search.ts
  src/utils/searches/img-search.ts
  src/utils/searches/javascript-search.ts
  src/utils/searches/php-search.ts
  src/utils/searches/stream-search.ts
  src/utils/searches/url-search.ts
  src/utils/searches/video-search.ts
  src/utils/sorts/empty-sort.ts
  src/utils/sorts/stream-sort.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

refactor: finish new dictionary implementation
  docs/TODO.md
  src/interfaces/config-extensions.ts
  src/interfaces/config-filter.ts
  src/interfaces/search-config.ts
  src/models/dictionary.ts
  src/models/level-filter.ts
  src/models/level-ignorer.ts
  src/models/level-sorter.ts
  src/models/level-storage.ts
  src/models/path-analyzer.ts
  src/utils/filters/any-filter.ts
  src/utils/filters/ending-filter.ts
  src/utils/filters/includes-filter.ts
  src/utils/filters/stream-filter.ts
  src/utils/searches/audio-search.ts
  src/utils/searches/css-search.ts
  src/utils/searches/font-search.ts
  src/utils/searches/img-search.ts
  src/utils/searches/javascript-search.ts
  src/utils/searches/php-search.ts
  src/utils/searches/url-search.ts
  src/utils/searches/video-search.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

refactor: add extensions folder
  docs/TODO.md
  src/interfaces/config-ignore.ts
  src/utils/extensions/.gitkeep
  src/utils/extensions/audio-extensions.ts
  src/utils/extensions/css-extensions.ts
  src/utils/extensions/empty-extensions.ts
  src/utils/extensions/flash-extensions.ts
  src/utils/extensions/font-extensions.ts
  src/utils/extensions/img-extensions.ts
  src/utils/extensions/javascript-extensions.ts
  src/utils/extensions/min-extensions.ts
  src/utils/extensions/php-extensions.ts
  src/utils/extensions/stream-extensions.ts
  src/utils/extensions/video-extensions.ts
  src/utils/extensions/xml-extensions.ts
  src/utils/fragments/streaming-search.ts
  src/utils/ignores/empty-ignore.ts
  src/utils/ignores/stream-ignore.ts
  src/utils/searches/audio-search.ts
  src/utils/searches/css-search.ts
  src/utils/searches/font-search.ts
  src/utils/searches/img-search.ts
  src/utils/searches/javascript-search.ts
  src/utils/searches/php-search.ts
  src/utils/searches/stream-search.ts
  src/utils/searches/url-search.ts
  src/utils/searches/video-search.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

refactor: finish extensions implementation
  src/interfaces/config-ignore.ts
  src/interfaces/config-keys.ts
  src/utils/extensions/flash-extensions.ts
  src/utils/extensions/min-extensions.ts
  src/utils/extensions/xml-extensions.ts
  src/utils/ignores/empty-ignore.ts
  src/utils/ignores/stream-ignore.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

refactor: finish new level ignorer
  docs/TODO.md
  src/models/level-filter.ts
  src/models/level-ignorer.ts
  src/models/path-scanner.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: add src bin folder
  bin/bin.js
  docs/LINKS.md
  package.json
  src/bin/bin.ts
  tslint.json
Due: npx tslint -c tslint.json 'src/**/*.ts', npx eslint ./*.js

chore: updating release candidate version
  .npmignore
  package-lock.json
  package.json
Due: none

feat: basic bin structure
  bin/bin.js
  src/bin/bin.ts
  src/bin/patofinder.ts
Due: npx tslint -c tslint.json 'src/**/*.ts', npx eslint ./*.js

test: testing bin global install
  docs/EXAMPLES.md
  docs/LINKS.md
  package-lock.json
  package.json
  src/bin/patofinder.ts
  src/models/args.ts
  src/models/arguments.ts
  src/models/patofinder.ts
  src/public/find.ts
  src/utils/cli/patofinder-cli.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: basic args methods
  package.json
  src/bin/patofinder.ts
  src/models/arguments.ts
  src/utils/cli/cli-clear.ts
  src/utils/cli/cli-logo.ts
  src/utils/cli/patofinder-cli.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: add options and verbose structure
  src/bin/patofinder.ts
  src/interfaces/type-logs.ts
  src/models/arguments.ts
  src/models/logger.ts
  src/public/find.ts
  src/utils/cli/cli-info.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

chore: removing unnecessary bin packages
  package-lock.json
  package.json
Due: none

feat: add search regexp and cli create method
  src/bin/patofinder.ts
  src/interfaces/type-logs.ts
  src/models/arguments.ts
  src/utils/cli/cli-logo.ts
  src/utils/cli/cli-package.ts
  src/utils/regexp/search-type.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

chore: remove clear package
  docs/TODO.md
  package-lock.json
  package.json
Due: none

test: testing and running app with cli
  src/bin/patofinder.ts
  src/index.ts
  src/models/arguments.ts
  src/models/level-filter.ts
  src/models/path-scanner.ts
  src/models/patofinder.ts
  src/utils/cli/cli-clear.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: fix index export, add first test file
  src/bin/patofinder.ts
  src/index.ts
  src/models/arguments.ts
  src/tests/stream.spec.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

feat: add logger and args final structure
  src/bin/patofinder.ts
  src/models/arguments.ts
  src/models/logger.ts
  src/utils/cli/cli-docs.ts
  src/utils/cli/cli-examples.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

test: update testing scripts
  package.json
Due: none

feat: add errors and actions rules
  src/bin/patofinder.ts
  src/models/arguments.ts
  src/utils/cli/cli-docs.ts
  src/utils/cli/cli-examples.ts
  src/utils/cli/cli-help.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

docs: update cli todo list
  docs/TODO.md
Due: none

Path conditions:
  npx tslint -c tslint.json 'src/**/*.ts': any of: *.ts
  npx eslint ./*.js: any of: *.js
