Repository notelho/patofinder: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint -c tslint.json 'src/**/*.ts', npx eslint ./*.js

.lintstagedrc.json:

{
  "*.ts": [
    "npx tslint -c tslint.json 'src/**/*.ts'"
  ],
  "*.js": [
    "npx eslint ./*.js"
  ]
}

feat: add multiple rules
  src/models/dictionary.ts
  src/models/level-filter.ts
  src/models/path-analyzer.ts
  src/utils/searches/audio-search.ts
  src/utils/searches/css-search.ts
  src/utils/searches/font-search.ts
  src/utils/searches/img-search.ts
  src/utils/searches/javascript-search.ts
  src/utils/searches/php-search.ts
  src/utils/searches/stream-search.ts
  src/utils/searches/url-search.ts
  src/utils/searches/video-search.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

fix: add true results to level filter
  src/index.ts
  src/models/level-filter.ts
  src/models/path-analyzer.ts
  src/utils/rules/exclude-rule.ts
  src/utils/rules/not-same-rule.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

fix: exporting in index.ts
  src/index.ts
  src/tests/video.spec.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

docs: update file names
  README.md
  docs/example-find.md
  docs/example-types.md
Due: none

chore: remove typescript tests
  .npmignore
  CHANGELOG
  jest.config.js
  package-lock.json
  package.json
  src/tests/audio.spec.ts
  src/tests/cli.spec.ts
  src/tests/css.spec.ts
  src/tests/font.spec.ts
  src/tests/img.spec.ts
  src/tests/javascript.spec.ts
  src/tests/php.spec.ts
  src/tests/stream.spec.ts
  src/tests/url.spec.ts
  src/tests/video.spec.ts
Due: npx tslint -c tslint.json 'src/**/*.ts', npx eslint ./*.js

test: create new javascript tests folder
  __tests__/audio.spec.js
  __tests__/cli.spec.js
  __tests__/css.spec.js
  __tests__/font.spec.js
  __tests__/img.spec.js
  __tests__/javascript.spec.js
  __tests__/php.spec.js
  __tests__/stream.spec.js
  __tests__/url.spec.js
  __tests__/video.spec.js
Due: npx eslint ./*.js

refactor: searchers init on constructor in dictionary model
  __tests__/audio.spec.js
  __tests__/cli.spec.js
  __tests__/css.spec.js
  __tests__/font.spec.js
  __tests__/img.spec.js
  __tests__/javascript.spec.js
  __tests__/php.spec.js
  __tests__/stream.spec.js
  __tests__/url.spec.js
  __tests__/video.spec.js
  src/models/dictionary.ts
Due: npx tslint -c tslint.json 'src/**/*.ts', npx eslint ./*.js

refactor: fix export to same path
  src/index.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

docs: add interfaces and regexp
  README.md
  docs/example-interfaces.md
  docs/example-regexp.md
Due: none

fix: rc logs, export defaults and www
  src/index.ts
  src/models/path-analyzer.ts
  src/utils/regexp/absolute-path.ts
  www/.gitkeep
Due: npx tslint -c tslint.json 'src/**/*.ts'

chore: update version 1.0.0-rc.3
  .npmignore
  CHANGELOG
  package.json
  tsconfig.base.json
Due: none

chore: update version and authors link
  .npmignore
  AUTHORS
  package.json
Due: none

feat: created search type error
  CHANGELOG
  README.md
  package.json
  src/models/patofinder.ts
  src/public/regexp.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

docs: update type regexp and interfaces import
  docs/example-interfaces.md
  docs/example-regexp.md
Due: none

feat: exporting new type regexp
  src/public/regexp.ts
  src/utils/regexp/type-search.ts
Due: npx tslint -c tslint.json 'src/**/*.ts'

chore: update release candidate version 6
  CHANGELOG
  package.json
Due: none

docs: add live api example
  README.md
  docs/example-live.md
Due: none

chore: update first version changelog
  AUTHORS
  CHANGELOG
Due: none

docs: finish live docs
  docs/example-live.md
Due: none

chore: create 1.0.0 version
  package.json
Due: none
